body {
    background-image: url(http://farm1.staticflickr.com//447//19585243302_fae38fd86f_o.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: auto;
    color: white;
    font-size: 20px;
    text-align: center
}

#myMap {
    opacity: .65;
    object-fit: scale-down;
    position: relative;
    top: 3px;
    margin: auto;
    width: 40%;
    padding: 150px;
}

    #myMap:hover {
        opacity: 1
    }

input {
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    color: #fff;
    width: 10%;
    font-size: medium;
    border-bottom: 1px solid darkgray;
}
.from{
    color:white;
}
.to{
    color:white;
}
.burn{
    color:white;
}
::placeholder{
    color:white;
    opacity:0.4;
}
#myMap {
    opacity: .65;
    margin: auto;
    width: 40%;
    padding: 150px;
    border-radius: 8px
}

    #myMap:hover {
        opacity: 1
    }

input[type=button] {
    background-color: transparent;
    font-size: 23px;
    text-decoration: none;
    border: medium;
    color: greenyellow;
}

@media screen and (max-width: 849px) {
    input {
        width: 35%;
    }
}
