@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
#myMap {
    opacity: .65;
    margin: auto;
    width: 1000px;
    padding: 150px;
    border-radius: 18px
}

    #myMap:hover {
        opacity: 1
    }
.from {
    position: relative;
    top: 40px;
}
.to {
    position: relative;
    left: 250px;
    width:50%;
    top:10px;
}
.burn {
    position: relative;
    left: 490px;
    width:100%;
    top: -20px;
}
.btn_calc {
    position:relative;
    height:auto;
    left: 780px;
    top:-43px;
}
@media (max-width: 575px) {
    #myMap {
        top:auto;
        position:relative;
        opacity: .65;
        margin: auto;
        width: auto;
        padding: 150px;
        border-radius: 18px
    }
    .from {
        position: relative;
        left:35px;
        top: -50px;
    }

    .to {
        position: relative;
        width: 100%;
        left:55px;
        top: -40px;
    }

    .burn {
        position: relative;
        width: 100%;
        left:0px;
        top: -30px;
    }

    .btn_calc {
        position: relative;
        height: auto;
        left:110px;
        top: -10px;
    }
}