@model FuelProject.Models.Contact
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>mical</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- style css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
        <!--  footer -->
        <footer id="contact">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="titlepage">
                                <h2>კონტაქტი</h2>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul class="location_icon">
                                <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +995 579025090</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> InfoMandzili@Gmail.Com</li>
                                <li><a href="https://www.facebook.com/mandzili.ge" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>Mandzili.GE</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <form asp-controller="Contact" asp-action="Index" method="post" class="main_form">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <span style="color:red" asp-validation-for="Name"></span>
                                        <input class="contactus" asp-for="Name" placeholder="სახელი" type="text" name="Name">
                                    </div>
                                    <div class="col-md-12">
                                        <span style="color:red" asp-validation-for="Mail"></span>
                                        <input class="contactus" asp-for="Mail" placeholder="ელ-ფოსტა" type="text" name="Mail">
                                    </div>
                                    <div class="col-md-12">
                                        <span style="color:red" asp-validation-for="Subject"></span>
                                        <textarea class="textarea" asp-for="Subject" placeholder="შეტყობინება" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <button class="send_btn" type="submit">გაგზავნა</button>
                                    </div>
                                    <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Copyright 2021 All Right Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jquery-3.0.0.min.js"></script>
        <!-- sidebar -->
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/js/custom.js"></script>
</body>
</html>
@*@model FuelProject.Models.Contact
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <!DOCTYPE html>
    @{
        ViewBag.Title = "კონტაქტი";
    }
    <head>
        <title>კონტაქტი</title>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8">
        <link href="~/css/Contact.css" rel="stylesheet" />
    </head>
    <body>
        <form asp-controller="contact" asp-action="index" method="post">
            <div class="background">
                <div class="container">
                    <div class="screen">
                        <div class="screen-header">
                            <div class="screen-header-left">
                                <div class="screen-header-button close"></div>
                                <div class="screen-header-button maximize"></div>
                                <div class="screen-header-button minimize"></div>
                            </div>
                            <div class="screen-header-right">
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                                <div class="screen-header-ellipsis"></div>
                            </div>
                        </div>
                        <div class="screen-body">
                            <div class="screen-body-item left">
                                <div class="app-title">
                                    <span>კონტაქტი</span>
                                </div>
                                <div class="app-contact">საკონტაქტო ელ-ფოსტა:InfoMandzili@Gmail.Com</div>
                            </div>
                            <div class="screen-body-item">
                                <div class="app-form">
                                    <div class="app-form-group">
                                        <span style="color:red" asp-validation-for="Name" class="text-danger"></span>
                                        <input type="text" asp-for="Name" class="app-form-control" autocomplete="off" placeholder="სახელი">
                                    </div>
                                    <div class="app-form-group">
                                        <span style="color:red" asp-validation-for="Mail"></span>
                                        <input type="text" asp-for="Mail" class="app-form-control" autocomplete="off" placeholder="ელ-ფოსტა">
                                    </div>
                                    <div class="app-form-group message">
                                        <span style="color:red" asp-validation-for="Subject" class="text-danger"></span>
                                        <input type="text" asp-for="Subject" class="app-form-control" autocomplete="off" placeholder="შეტყობინება">
                                    </div>
                                    <div class="app-form-group buttons">
                                        <button type="submit" class="app-form-button">გაგზავნა</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>*@