@model FuelProject.Models.Ganbajeba
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="ganbajeba" asp-action="index" method="post">
    <div>
        <label asp-for="Year"></label>
        <select asp-for="Year" asp-items="new SelectList(ViewBag.yearList)">
            <option value="">Choose</option>
        </select>
        <span asp-validation-for="Year"class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Size"></label>
        <select asp-for="Size" asp-items="new SelectList(ViewBag.sizeList)">
            <option value="">Choose</option>
        </select>
        <span asp-validation-for="Year"class="text-danger"></span>
    </div>
    <div>
        <button type="submit"value="add" asp-for="Sum">გაგზავნა</button>
    </div>
</form>