<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Fuel.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <script type="text/javascript">
        function GetMap() {
            map = new Microsoft.Maps.Map("#myMap", {}), Microsoft.Maps.loadModule("Microsoft.Maps.Directions", function () {
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map), directionsManager.setRenderOptions({
                    itineraryContainer: "#directionsItinerary"
                }), directionsManager.showInputPanel("directionsPanel"), directionsManager.setRequestOptions({
                    routeMode: Microsoft.Maps.Directions.RouteMode.driving
                })
            })
        }

        function GetDirections() {
            directionsManager.clearAll(), directionsManager.clearDisplay();
            var e = new Microsoft.Maps.Directions.Waypoint({
                address: document.getElementById("fromTbx").value
            });
            directionsManager.addWaypoint(e);
            var i = new Microsoft.Maps.Directions.Waypoint({
                address: document.getElementById("toTbx").value
            });
            directionsManager.addWaypoint(i), Microsoft.Maps.Events.addHandler(directionsManager, "directionsError", directionsError), Microsoft.Maps.Events.addHandler(directionsManager, "directionsUpdated", directionsUpdated), directionsManager.calculateDirections()
        }

        function directionsUpdated(e) {
            var i = directionsManager.getRequestOptions().routeIndex,
                n = Math.round(100 * e.routeSummary[i].distance) / 100,
                t = directionsManager.getRequestOptions().distanceUnit,
                r = "";
            t == Microsoft.Maps.Directions.DistanceUnit.km && (r = "km");
            var o = document.getElementById("burningGasoline").value,
                a = 100 / o,
                s = n / a;
            s = s.toFixed(1);
            var d = Math.round(e.routeSummary[i].timeWithTraffic / 60);
            document.getElementById("routeInfoPanel").innerHTML = "<br/>მანძილი: " + n + " " + r + " <br/>საწვავის რაოდენობა : " + s + " ლიტრი<br/>"
        }

        function directionsError(e) {
            alert("შეცდომააა!!! გადაამოწმეთ შეყვანილი ინფორმაცია ")
        }
        var map, directionsManager;
    </script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkC0sJoPfLbvE3feNBAKiBct4hMbvJ5Knhoc6rvg32VLNOb_GvZXrjqh-0VRX5jB" async defer></script>
    <h1></h1>
    <h1></h1>
    <div id="myMap"></div><div id="routeInfoPanel"></div>
    <div>
            <h1></h1>
            <h1></h1>
            <div class="from">
               საიდან <input type="text" id="fromTbx" autocomplete="off" placeholder="ჩაწერეთ ქალაქი" />
            </div>
            <div class="to">
                  სად <input type="text" id="toTbx" autocomplete="off" placeholder="ჩაწერეთ ქალაქი" />
            </div>
            <div class="burn">
               მანქანის წვა <input id="burningGasoline" step="any" type="number" placeholder="წვა 100 კმ-ზე">
            </div>
            <input type="button" onclick="GetDirections()" value="გამოთვლა">
        </div>
</body>
</html>