@model FuelProject.Models.FuelProps
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="Sawvavi" asp-action="Index" method="post">
    <div class="form-group">
        <div class="row">
            <label asp-for="BurningGasoline" class="col-lg-2"></label>
            <input step="any" type="number" asp-for="BurningGasoline" placeholder="ლ/100კმ" class="col-lg-2" />
            <span asp-validation-for="BurningGasoline"></span>
        </div>
        <div class="row">
            <label asp-for="Kilometers" class="col-lg-2">გასავლელი მანძილი(კილომეტრი)</label>
            <input step="any" type="number" asp-for="Kilometers" placeholder="გასავლელი მანძილი" class="col-lg-2" />
            <span asp-validation-for="Kilometers"></span>
        </div>
        <div class="row">
            <label asp-for="Result" class="col-lg-2">რამდენი ლიტრი ბენზინი დაგჭირდებათ</label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="Result" />
            <input type="submit" value="გამოთვლა" asp-action="ParticularKm" />
        </div>
    </div>
</form>  