@model FuelProject.Models.FuelProps
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="Sawvavi" asp-action="Index" method="post">
    <div class="form-group">
        <div class="row">
            <label asp-for="LitreGasoline" class="col-lg-2">საწვავის რაოდენობა(ლიტრი )</label>
            <input step="any" type="number" asp-for="LitreGasoline" placeholder="საწვავის რაოდენობა(ლიტრი )" class="col-lg-2" />
            <span asp-validation-for="LitreGasoline"></span>
        </div>
        <div class="row">
            <label asp-for="Kilometers" class="col-lg-2">გავლილი მანძილი(კილომეტრი)</label>
            <input step="any" type="number" asp-for="Kilometers" placeholder="გავლილი მანძილი(კილომეტრი)" class="col-lg-2" />
            <span asp-validation-for="Kilometers"></span>
        </div>
        <div class="row">
            <label asp-for="Result" class="col-lg-2">მანქანის საშუალო წვა(ლიტრი)</label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="Result" />
            <input type="submit" value="გამოთვლა" asp-action="PerHundredKm" />
        </div>
    </div>
</form>  