@model Sawvavi.Models.SawvaviProp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="Sawvavi" asp-action="Index" method="post">
    <div class="form-group">
        <div class="row">
            <label asp-for="LitriSawvavi" class="col-lg-2">საწვავის რაოდენობა(ლიტრი )</label>
            <input step="any" type="number" asp-for="LitriSawvavi" placeholder="საწვავის რაოდენობა(ლიტრი )" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="Kilometri" class="col-lg-2">გავლილი მანძილი(კილომეტრი)</label>
            <input step="any" type="number" asp-for="Kilometri" placeholder="გავლილი მანძილი(კილომეტრი)" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="SabolooShedegi" class="col-lg-2">მანქანის საშუალო წვა(ლიტრი)</label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="SabolooShedegi" />
            <input type="submit" value="გამოთვლა" asp-action="IndexTwo" />
        </div>
    </div>
</form>  