@model Sawvavi.Models.SawvaviProp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="Sawvavi" asp-action="Index" method="post">
    <div class="form-group">
        <div class="row">
            <label asp-for="ManqanisWva" class="col-lg-2"></label>
            <input step="any" type="number" asp-for="ManqanisWva"  placeholder="ლ/100კმ" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="Kilometri" class="col-lg-2">გასავლელი მანძილი(კილომეტრი)</label>
            <input step="any" type="number" asp-for="Kilometri" placeholder="გასავლელი მანძილი" class="col-lg-2" />
        </div>
        <div class="row">
            <label asp-for="SabolooShedegi" class="col-lg-2">რამდენი ლიტრი ბენზინი დაგჭირდებათ</label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="SabolooShedegi" />
            <input type="submit" value="გამოთვლა" asp-action="Index" />
        </div>
    </div>
</form>  